.menu-page__container {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

/*.menu-page {*/

/*}*/

.menu-page__title {
    font-size: 60px;
    line-height: 1.25;
    color: #403F3D;
    width: fit-content;
    margin: 0 auto 40px;
    text-align: center;
}

.button__icon {
    border-radius: 100px;
    background-color: #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.tabs__button {
    border-radius: 100px;
    display: flex;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    align-items: center;
    background: inherit;
    border: 1px solid #C1B6AD;

}

.button__name {
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.tabs__button.active,
.tabs__button:hover {
    background-color: #665F55;
    border-color: #665F55;
    animation: hover-tab 350ms;
}

.active span,
.tabs__button:hover span {
    color: #E1D4C9;
}

@keyframes hover-tab {
    from {
        background-color: unset;
    }
    to {
        background-color: #665F55;
        border-color: #665F55;
    }
}

.tabs {
    display: flex;
    width: fit-content;
    margin: 0 auto 40px;
    gap: 16px;
}

/*MENU-CUP*/

.menu__container {
    margin-bottom: 100px;
}

.menu__coffee,
.menu__tea,
.menu__dessert {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    animation: showMenu 450ms ease-in-out;
}

@keyframes showMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu__tea {
    display: none;
}

.menu__dessert {
    display: none;
}

.menu__cup-card {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 506px;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    box-sizing: border-box;
}

.menu__cup-card img {
    width: 308px;
    height: 310px;
    border-radius: 40px;
}

.cup-card__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.cup-card__name,
.cup-card__cost {
    font-size: 24px;
    line-height: 1.25;
}

.cup-card__description {
    font-weight: 400;
}

.card__image {
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
}

.card__image img {
    transition: 400ms ease;
    display: block;
    border-radius: 20px;
    object-fit: cover;
    scale: 1.1;
}

.card__image img:hover {
    transform: scale(0.91);
}
