html {
    background-color: #E1D4C9;
    scroll-behavior: smooth;
}

button:hover {
    cursor: pointer;
}

body {
    font-family: Inter, serif;
    font-weight: 600;
}

a {
    display: block;
    position: relative;
}

a::after {
    content: '';
    opacity: 0;
    transition: opacity 400ms;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
}

.header__logo::after {
    content: '';
    display: none;
}

a:hover::after {
    opacity: 1;
}

.coffee-menu__link_current::after {
    opacity: 1;
}


.wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

/*HEADER*/

.logo__icon {
    width: 100px;
    height: 60px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    height: 60px;
}

.nav__list {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    list-style-type: none;
    gap: 0 40px;
}

.menu__text {
    font-size: 16px;
    line-height: 1.5;
}

.menu__icon {
    width: 20px;
    height: 20px;
}


.coffee-menu {
    display: flex;
    height: 28px;
    justify-content: flex-end;
    align-items: center;
}

.coffee-menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.coffee-menu__link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

/*MAIN BLOCK*/

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.main-block__background {
    max-width: 1360px;
    height: 644px;
    border-radius: 40px;
    width: 100%;
    background: lightgray url("../images/img-hero.jpg") no-repeat center;
}

.main-block__offer {
    display: flex;
    width: 530px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    color: #E1D4C9;
    margin: 100px;
}

.offer__menu-link::after {
    display: none;
}

.offer-title {
    font-size: 72px;
    line-height: 105%;
}

._italic-beige {
    color: #B0907A;
    font-style: italic;
}

.main-block__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.offer__button {
    display: flex;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #E1D4C9;
    border-radius: 100px;
    border: 0;
}

.offer__button:hover {
    cursor: pointer;
}


.offer__button-icon {
    opacity: 0;
}

.offer__button:hover .offer__button-icon {
    animation: show-coffee-cup 0.4s;
    display: block;
    opacity: 100%;
}

@keyframes show-coffee-cup {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.offer__button:hover .button__text {
    transform: translateX(-8px);
}

.button__text {
    font-family: Inter, serif;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    width: 100%;
    left: 8px;
    transition: transform 200ms;
    color: #403F3D;
}


/*SLIDER*/

.coffee-slider-box {
    margin: 100px 0;
}

.coffee-slider__title {
    font-size: 60px;
    line-height: 125%;
    width: max-content;
    margin: 0 auto;
}

.button-arrow {
    border-radius: 100px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: #E1D4C9;
    transition: all 500ms;
}

.button-arrow:hover path {
    stroke: #E1D4C9;
}


.button-arrow:hover {
    background-color: #665F55;
    border-color: #665F55;
    cursor: pointer;

}

.coffee-card:not(:first-child) {
    display: none;
}

.coffee-card {
    animation: switch-coffee 350ms ease;
}

@keyframes switch-coffee {
    from {
        /*transform: translateX(0px);*/
        opacity: 0;
    }
    to {
        /*transform: translateX(-450px);*/
        opacity: 1;
    }
}

.coffee-picture {
    margin: 0 auto;
    width: 480px;
    height: 480px;
}

.coffee-slider {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.coffee-card__title, .coffee-card__cost {
    font-size: 24px;
    line-height: 1.25;
}

.coffee-card__description {
    font-weight: 400;
    line-height: 1.5;
    margin: 16px 0;
}

.coffee-card__info {
    width: 480px;
    text-align: center;
    margin-top: 20px;
}

.coffee-slider__controls {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 12px;
}

.controls__item {
    width: 38px;
    /*height: 4px;*/
    border: 2px solid #C1B6AD;
    border-radius: 100px;
    color: #C1B6AD;
}

.controls__item-active {
    border: 2px solid #665F55;
    color: #665F55;
}

/*ABOUT*/
.about {
    margin-bottom: 100px;
}

.about__content {
    margin-bottom: 40px;
}

.about__title {
    font-size: 59.5px;
    line-height: 1.25;
}

.gallery {
    display: flex;
    gap: 40px;
}

.gallery__column-1,
.gallery__column-2 {
    display: flex;
    gap: 40px;
    flex-direction: column;
}


.gallery__photo-box {
    display: inline-block;
    overflow: hidden;

}

.gallery__photo {
    border-radius: 20px;
    object-fit: cover;
    scale: 1.1;
}

.gallery__photo-box .gallery__photo {
    transition: 400ms ease;
    display: block;
}

.gallery__photo-box .gallery__photo:hover {
    transform: scale(0.91);
}


.gallery__photo-box-1,
.gallery__photo-box-2 {
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
}

.gallery__photo-box-1 {
    width: 660px;
    height: 590px;
}

.gallery__photo-box-2 {
    width: 660px;
    height: 430px;
}

.gallery__photo-1,
.gallery__photo-4 {
    width: 660px;
    height: 590px;
}

.gallery__photo-2,
.gallery__photo-3 {
    width: 660px;
    height: 430px;
}

/*MOBILE APP*/
.mobile-app {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.mobile-app__offer {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.mobile-app__title {
    font-size: 59.5px;
    line-height: 1.25;
}

.mobile-app__subtitle {
    line-height: 1.5;
}

.mobile-app__download {
    display: flex;
    gap: 20px;
}

.mobile-app__appstore:hover,
.mobile-app__google-play:hover {
    cursor: pointer;
}

.appstore__btn,
.google-play__btn {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border: 1px solid #665F55;
    border-radius: 100px;
    background-color: inherit;
    box-sizing: border-box;
    transition: all 500ms;
}

.google-play__btn:hover path,
.appstore__btn:hover path {
    fill: #E1D4C9;
}

.google-play__btn:hover,
.appstore__btn:hover {
    color: #E1D4C9;
    border-color: #665F55;
    background-color: #665F55;
    transition: 500ms;
}


.appstore__text,
.google-play__text {
    font-size: 10px;
    line-height: 1.4;
}

.appstore-title,
.google-play__title {
    line-height: 1.5;
    font-size: 16px;
}

.appstore__content,
.google-play__content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.google-play__text {
    font-size: 10px;
    line-height: 1.4;
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-bottom: 45px;
}

.footer-container {
    display: flex;
    max-width: 1360px;
    padding: 95px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background-color: #665F55;
}

.footer__title {
    font-size: 60px;
    line-height: 1.25;
    color: #E1D4C9;
}

.footer__socials {
    display: flex;
    gap: 12px;
}

.socials__btn {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background-color: inherit;
    transition: all 500ms;
}

.socials__btn:hover .svg-path {
    stroke: #403F3D;
}

.socials__btn:hover {
    background-color: #E1D4C9;
    cursor: pointer;
    transition: 700ms;
}

.socials__logo {
    width: 24px;
    height: 24px;
}

.footer__left-block,
.footer__right-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.contacts {
    color: #E1D4C9;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contacts__title {
    font-size: 24px;
    line-height: 1.25;
}

.contacts__info {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts__item {
    display: flex;
    gap: 8px;
}

.contacts__item a::after {
    background-color: #E1D4C9;
}

.contacts__item a:hover::after {
    background-color: #E1D4C9;
    transition: 500ms;
}

.contact-icon {
    margin-right: 8px;
}

