$height-item-1: 500px;
$width-item-5: 480px;

.gallows {
  position: relative;
  width: 40%;
  border-right: 1px solid black;
}

.gallows__inner {
  text-align: center;
}

.gallows__man-part {
  position: absolute;
  visibility: hidden;

  &:nth-child(1) {
    top: 125px;
    right: 91px;
  }
  &:nth-child(2) {
    top: 225px;
    right: 138px;
  }
  &:nth-child(3) {
    top: 225px;
    right: 140px;
  }
  &:nth-child(4) {
    top: 225px;
    right: 73px;
  }
  &:nth-child(5) {
    top: 352px;
    right: 138px;
  }
  &:nth-child(6) {
    top: 352px;
    right: 74px;
  }

  &--visible {
    visibility: visible;
  }

}

.quiz__hangman-img {
  width: 300px;
}

.gallows__title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}

