.modal {
  display: none;
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-family: Arial, sans-serif;

  &--show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.overlay {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  //transition: opacity 0.15s ease;
  background-color: black;

  &--visible {
    opacity: 0.6;
  }
}

.modal__title {
  font-size: 48px;
  margin: 0;
}

.modal__secret-word {
  font-size: 32px;
}

.modal__btn {
  font-size: 28px;
  margin-top: 70px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #555eb5;
  color: white;
  outline: none;
  border: none;

  &:hover {
    background-color: #272b57;
  }
}
