.quiz {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.quiz__hidden-word {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz__underline-list {
  display: flex;
  gap: 20px;
  width: fit-content;
  margin: 0 auto;
}

.quiz__hidden-letters {
  display: flex;
  gap: 20px;
  width: fit-content;
  margin: 0 auto;
}

.hidden-letters__item {
  width: 40px;
  height: 5px;
  text-align: center;
  visibility: hidden;
  font-size: 36px;
  font-family: Arial, sans-serif;

  &--visible {
    visibility: visible;
  }
}

.underline-list__item {
  width: 40px;
  height: 5px;
  background-color: black;
  border-radius: 5px;

  &--hidden {
    visibility: hidden;
  }
}

.quiz__hint,
.quiz__incorrect-guesses {
  font-size: 24px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}


.quiz__subtitle,
.quiz__incorrect-guesses {
  font-weight: 400;
}

.incorrect-guesses__counter {
  font-weight: 600;
  color: #e51616;
}

.quiz__info {
  text-align: center;
}

.keyboard__keys-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.keys-list__item {
  //border: 1px solid #555eb5;
  color: white;
  background-color: #555eb5;
  width: 60px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;

  &:hover,
  &:hover .key-list__btn {
    background-color: #272b57;
  }
}

.quiz__keyboard {
  padding: 0 50px;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

.key {
  cursor: pointer;
  z-index: 10;

  &--disabled {
    cursor: default;
    background-color: #3d4481;
  }
}

.key-list__btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.key-list__btn:disabled {
  cursor: default;
  background-color: #3d4481;
  color: white;
  border-color: #555eb5;
}
